<html>
  <head>
    {% if title %}
    <title>{{title}} - iInvest</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
    function deleteProduct(productid, id){
        $.ajax({
            url: '/trustProduct/'+productid,
            type: 'DELETE',
            success: function(result){
                $(id).hide();
            }
        });
        
    }

    function deleteAssetManagement(productid,id){
        $.ajax({
            url: '/assetManagement/'+productid,
            type: 'DELETE',
            success: function(result){
                $(id).hide();
            }
        });
    }

    </script>
    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
  </head>
  <body>
    <div> <a href="/">Home</a></div>
    <div><a href="/login">Log In(admin/admin)</a></div>
    <div><a href="/register">Register</a></div>
    <div><a href="/logout">Log Out</a></div>
    <div><a href="/trustProducts">Trust products</a></div>
    <div><a href="/assetManagements">Asset managements</a></div>
    <div><a href="/articles">Articles</a></div>
    <div><a href="/">Manage</a></div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% if session.admin_logged %}
    <p>welcome {{session.user}}!</p>
    {% endif %}
    {% if session.user_logged %}
    <p>welcome {{session.user}}!</p>
    {% endif %}
    {% block content %}{% endblock %}
  </body>
</html>
