<html>
  <head>
    {% if title %}
    <title>{{title}} - iInvest</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
  </head>
  <body>
{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<form method=post action="/register">
  <dl>
    {{ render_field(form.phone) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.accept_tos) }}
  </dl>
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <p><input type=submit value=Register>
</form>
</body>
</html>